    body {
        font-family: 'Times New Roman', Times, serif;
    }


    .container {
        width: 100%;
        background: black;
    }

    .containerfooter {
        height: 300px;
        width: 100%;
        background: black;
        padding: 50px;
        align-content: center;
    }

    .link-area {
        width: 40px;
        height: 40px;
        list-style-type: none;
        margin: 5px;
    }

    h3 {
        color: white;
    }

    p {
        color: white;
    }


    .TituloPromociones {
        color: black;
        font-size: 40px;
    }

    .textoPromociones {
        background: #CBE5E3;
    }

    .row {
        color: black;
        font-size: 40px;
    }


    .imagenCentrar:hover {
        margin: 40px, 10px;
        padding: 15px;
        border: 3px solid;
        color: black;
    }


    .especificaciones {
        color: #38A0B2;
        font-size: 30px;
    }

    .texto1Promociones {
        background: #F2F2F2;
        font-size: 20px;
    }

    .texto2Promociones {
        font-size: 20px;
    }

    .texto3Promociones {
        background: #F2F2F2;
        font-size: 20px;
    }

    .text41Promociones {
        font-size: 20px;
    }

   
