
@{
    ViewBag.Title = "contactenos";
}


<!DOCTYPE html>


<BODY>



    <link rel="stylesheet" href="~/Content/estilos.css">

    <div class="contactenos">

            <br>
            <br>



            <form>
                <TABLE WITDH=1800 HEIGHT=300 div id="contactenoss">
                    <TR>
                        <TD ROWSPAN="8">
                            <P><STRONG>UBICACIÓN</STRONG><BR></P>
                            TECNO HARD S.A.S <BR>
                            Calle 133b # 23-71 <BR>
                            Bogotá, Colombia. <BR>
                            Celular/WhatsApp: 311 8565808 <BR>
                            <a href="mailto:JALOVARGON@GMAIL.COM?SUBJECT=CONTACTENOS">E-mail:info@technohard.com</a>
                            <BR>
                        </TD>
                        <BR>

                        <TD>
                            <STRONG>  FORMULARIO DE CONTACTO </STRONG>
                        </TD>
                    </TR>

                    <TR>
                        <TD>
                            <input type="text" NAME="TEXTO1" SIZE="50 MAXLENGTH="10" ID="TEXTO1" PLACEHOLDER=" ESCRIBA SU NOMBRE Y APELLIDOS">
                        </TD>
                    </TR>

                    <TR>
                        <TD> <INPUT TYPE="text" NAME="TEXTO1" SIZE="50 MAXLENGTH="10" ID="TEXTO1" PLACEHOLDER=" CELULAR">  </TD>
                    </TR>

                    <TR>
                        <TD><STRONG> COMENTARIOS </STRONG> </TD>
                    </TR>

                    <TR>
                        <TD> <TEXTAREA NAME="OPINION" COLS=52 ROWS=5 WRAP="VIRTUAL"> </TEXTAREA> </TD>
                    </TR>

                    <TR>
                        <TD> <INPUT TYPE="SUBMIT" NAME="TEXTO2" VALUE="ENVIAR"> </TD>
                    </TR>
       



                </TABLE>
             </form>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.2015649077216!2d-74.09347802329442!3d4.735016342700375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f84efa5c50e67%3A0x64bb6ba4f2c022c9!2sCl.%20133b%2C%20Suba%2C%20Bogot%C3%A1!5e0!3m2!1ses!2sco!4v1623974731746!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


    </div>
</BODY>
