
@{
    ViewBag.Title = "Ofertas";
}


<body>
    <h1>Ofertas</h1>
    <div class="Impresoras">
        <p>Impresoras.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">


                    <img src="~/imagenes/imp1.png" alt="Nature" style="width:100%">
                    <div aling="center">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <p><strong> impresora brother t910 Brother </strong></p>
                        <p> VISUAL COPY </p>
                        <p>impresora brother t910 Brother 2 años de garantia </p>
                        <p>$1.250.000 </p>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">


                    <img src="~/imagenes/imp2.png" alt="Nature" style="width:100%">
                    <div aling="center">
                        <br>
                        <br>
                        <br>
                        <p><strong> Impresora Multifuncional EcoTank </strong></p>
                        <p>  HL TECNOLOGIA SAS </p>
                        <p>Impresora, copiadora y escáner , imprime apr </p>
                        <p>$850.000 </p>
                    </div>

                </div>
            </div>


            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/imagenes/imp3.png" target="_blank">
                        <img src="~/imagenes/imp3.png" alt="Fjords" style="width:100%">
                        <div class="caption">
                            <p><strong> Impresora Epson WorkForce WF-C579R</strong> </p>
                            <p>FOTOCOPIADORAS JDM - NUEVA ERA SOLUCIONES</p>
                            <p>Multifuncional a color 1 año de garantía</p>
                            <p>$3.900.000</p>

                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="Servidores">
        <p>Servidores.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">


                    <img src="~/imagenes/ser1.png" alt="Nature" style="width:100%">
                    <div aling="center">
                       
                        <p><strong> Servidor Dell T140 Intel Xeon E-2224 16gb 2tb Ppxn2 </strong></p>
                        <p>  $4.189.000 </p>                      
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">


                    <img src="~/imagenes/ser2.png" alt="Nature" style="width:100%">
                    <div aling="center">
                        <br><br><br>
                        <p><strong> Servidor Hpe Proliant Dl580 Gen10 8164 256gb 869845-b21 </strong> </p>
                        <p>   $241.941.896   </p>

                    </div>

                </div>
            </div>


            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/imagenes/ser3.png" target="_blank">
                        <img src="~/imagenes/ser3.png" alt="Fjords" style="width:100%">
                        <div class="caption">
                            <br><br><br>
                            <p><strong> Servidor Hpe Proliant Dl360 Gen10 4110 16gb 874457-s01 </strong> </p>
                            <p> $12.987.940 </p>
                            
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="Monitores">
        <p>Monitores.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">


                    <img src="~/imagenes/mon1.jpg" alt="Nature" style="width:100%">
                    <div aling="center">
                        <br> <br>
                        <p><strong> Monitor gamer Samsung LF22T350FH led 22 " negro 100V/240V  </strong></p>
                        <p> $539.900 </p>

                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">


                    <img src="~/imagenes/mon2.jpg" alt="Nature" style="width:100%">
                    <div aling="center">
                        <br>
                        <p><strong> Monitor gamer curvo Asus Tuf Gaming VG24VQ led 23.6 " negro 100V/240V </strong></p>
                        <p> $1.229.900  </p>

                    </div>

                </div>
            </div>


            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/imagenes/mon3.jpg" target="_blank">
                        <img src="~/imagenes/mon3.jpg" alt="Fjords" style="width:100%">
                        <div class="caption">
                            <p><strong> Monitor gamer LG 27GL850 led 27 " negro 100V/240V </strong></p>
                            <p>   $1.899.000 </p>

                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


</body>



