
@{
    ViewBag.Title = "productosServidores";
}



<h1>SERVIDORES</h1>

<script>

    function comprar() {
        alert("Se añadio al carrito de compras");
    }

</script>

<body>

    <link rel="stylesheet" href="~/Content/estilos.css">




    <div class="row">
        <legend> <p class="TituloPromociones"><strong>    Monitor LENOVO 21,5" Pulgadas Negro </strong> </p> </legend>

        <div class="col-md-4">
            <div class="thumbnail">
                <div class="imagenCentrar">
                    <img src="~/Img/SERV1.jpg" alt="Nature" style="width:100%">
                </div>

            </div>
        </div>

        <div aling="center">
            <div class="col-md-8">
                <p class="especificaciones"> Especificaciones. </p>  <br>
                <p class="texto1Promociones"><strong> Para Uso:</strong>        Hogar </p>
                <p class="texto2Promociones"><strong> Tipo de Pantalla:</strong>LED </p>
                <p class="texto3Promociones"><strong> Resolución Pantalla:</strong> FHD. </p>
                <p class="texto4Promociones"> <strong>Precio:</strong>                   $850.000   </p>

            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>


    <div class="row">
        <legend> <p class="TituloPromociones"><strong>  Monitor gamer Samsung LF22T350FH led 22 " negro 100V/240V </strong> </p> </legend>

        <div class="col-md-4">
            <div class="thumbnail">
                <div class="imagenCentrar">
                    <img src="~/Img/SERV2.jpg" alt="Nature" style="width:100%">
                </div>

            </div>
        </div>

        <div aling="center">
            <div class="col-md-8">
                <p class="especificaciones"> Especificaciones. </p>  <br>
                <p class="texto1Promociones"><strong> Para Uso:</strong>        Gaming </p>
                <p class="texto2Promociones"><strong> Tipo de Pantalla:</strong>LED </p>
                <p class="texto3Promociones"><strong> Resolución Pantalla:</strong> FHD. </p>
                <p class="texto4Promociones"> <strong>Precio:</strong>                   $1.250.000   </p>

            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>

    <div class="row">
        <legend> <p class="TituloPromociones"><strong>   Monitor gamer LG 27GL850 led 27 " negro 100V/240V </strong> </p> </legend>

        <div class="col-md-4">
            <div class="thumbnail">
                <div class="imagenCentrar">
                    <img src="~/Img/SERV3.jpg" alt="Nature" style="width:100%">
                </div>

            </div>
        </div>

        <div aling="center">
            <div class="col-md-8">
                <p class="especificaciones"> Especificaciones. </p>  <br>
                <p class="texto1Promociones"><strong> Para Uso:</strong>        Hogar,Oficina o Empresa </p>
                <p class="texto2Promociones"><strong> Tipo de Pantalla:</strong>LED </p>
                <p class="texto3Promociones"><strong> Resolución Pantalla:</strong> FHD. </p>
                <p class="texto4Promociones"> <strong>Precio:</strong>                   $1.450.000   </p>

            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>




</body>

