
@{
    ViewBag.Title = "Productos";
}


<h1>IMPRESORAS</h1>

<div class="container">
    <h2>Image Gallery</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Img/IMPRESORA1.JPG" alt="Lights" style="width:100%">
                <div class="caption">
                    <p>IMPRESORA EPSON</p>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="" target="_blank">
                    <img src="~/Img/IMPRESORA2.JPG" alt="Nature" style="width:100%">
                    <div class="caption">
                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="/w3images/fjords.jpg" target="_blank">
                    <img src="~/Img/IMPRESORA3.JPG" alt="Fjords" style="width:100%">
                    <div class="caption">
                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<h1>MONITORES</h1>

<div class="container">
    <h2>Image Gallery</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Img/MONITOR1.JPG" alt="Lights" style="width:100%">
                <div class="caption">
                    <p>No se</p>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="/w3images/nature.jpg" target="_blank">
                    <img src="~/Img/MONITOR2.JPG" alt="Nature" style="width:100%">
                    <div class="caption">
                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="/w3images/fjords.jpg" target="_blank">
                    <img src="~/Img/MONITOR3.JPG" alt="Fjords" style="width:100%">
                    <div class="caption">
                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<h1>SERVIDORES</h1>

<div class="container">
    <h2>Image Gallery</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Img/SERV1.JPG" alt="Lights" style="width:100%">
                <div class="caption">
                    <p>No se</p>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="/w3images/nature.jpg" target="_blank">
                    <img src="~/Img/SERV2.JPG" alt="Nature" style="width:100%">
                    <div class="caption">
                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="/w3images/fjords.jpg" target="_blank">
                    <img src="~/Img/SERV3.JPG" alt="Fjords" style="width:100%">
                    <div class="caption">
                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
