
@{
    ViewBag.Title = "Productos";
}


<h1>IMPRESORAS</h1>

<script>
    function comprar() {
        alert("Se añadio al carrito de compras");
    }
</script>

<div class="container">
    
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Img/IMPRESORA1.JPG" class="circular">
                <div class="caption">
                    <p>Monitor no se</p>
                    <p>$500.000</p>
                    <button onclick="comprar()"><i class="fas fa-shopping-cart"></i></button>
                </div>

            </div>
        </div>
        <div class="col-md-4"> 
            <div class="thumbnail">
                
                    <img src="~/Img/IMPRESORA2.JPG" class="circular">
                    <div class="caption">
                        <p>Monitor no se</p>
                        <p>$500.000</p>
                        <button onclick="comprar()"><i class="fas fa-shopping-cart"></i></button>
                    </div>
                
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                
                    <img src="~/Img/IMPRESORA3.JPG" class="circular">
                    <div class="caption">
                        <p>Monitor no se</p>
                        <p>$500.000</p>
                        <button onclick="comprar()"><i class="fas fa-shopping-cart"></i></button>
                    </div>
               
            </div>
        </div>
    </div>
</div>


