
@{
    ViewBag.Title = "productosMonitores";
}

<script>
    function comprar() {
        alert("Se añadio al carrito de compras");
    }
</script>

<h1>MONITORES</h1>

<div class="container">

    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Img/MONITOR1.JPG" class="circular">
                <div class="caption">
                    <p>Monitor no se</p>
                    <p>$500.000</p>
                    <button onclick="comprar()"><i class="fas fa-shopping-cart"></i></button>
                    
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Img/MONITOR2.JPG" class="circular"> 
                <div class="caption">
                    <p>Monitor no se</p>
                    <p>$500.000</p>
                    <button onclick="comprar()"><i class="fas fa-shopping-cart"></i></button>

                </div>
                
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Img/MONITOR3.JPG" class="circular">
                <div class="caption">
                    <p>Monitor no se</p>
                    <p>$500.000</p>
                    <button onclick="comprar()"><i class="fas fa-shopping-cart"></i></button>
                </div>
                
            </div>
        </div>
    </div>
</div>
