
@{
    ViewBag.Title = "promocionServidores";
}

<body>

    <div class="promocionServidores">
        <p>Servidores.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">


                    <img src="~/Img/Jser1.png" alt="Nature" style="width:100%">
                    <div aling="center">

                        <p><strong> Servidor Dell T140 Intel Xeon E-2224 16gb 2tb Ppxn2 </strong></p>
                        <p>  $4.189.000 </p>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">


                    <img src="~/Img/Jser2.png" alt="Nature" style="width:100%">
                    <div aling="center">
                        <br><br><br>
                        <p><strong> Servidor Hpe Proliant Dl580 Gen10 8164 256gb 869845-b21 </strong> </p>
                        <p>   $241.941.896   </p>

                    </div>

                </div>
            </div>


            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Img/Jser3.png" target="_blank">
                        <img src="~/Img/Jser3.png" alt="Fjords" style="width:100%">
                        <div class="caption">
                            <br><br><br>
                            <p><strong> Servidor Hpe Proliant Dl360 Gen10 4110 16gb 874457-s01 </strong> </p>
                            <p> $12.987.940 </p>

                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


</body>

