
@{
    ViewBag.Title = "promocionMonitores";
}

<body>
    <div class="promocionMonitores">
        <p>Monitores.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">


                    <img src="~/Img/Jmon1.jpg" alt="Nature" style="width:100%">
                    <div aling="center">
                        <br> <br>
                        <p><strong> Monitor gamer Samsung LF22T350FH led 22 " negro 100V/240V  </strong></p>
                        <p> $539.900 </p>

                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">


                    <img src="~/Img/Jmon2.jpg" alt="Nature" style="width:100%">
                    <div aling="center">
                        <br>
                        <p><strong> Monitor gamer curvo Asus Tuf Gaming VG24VQ led 23.6 " negro 100V/240V </strong></p>
                        <p> $1.229.900  </p>

                    </div>

                </div>
            </div>


            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/Img/Jmon3.jpg" target="_blank">
                        <img src="~/imagenes/mon3.jpg" alt="Fjords" style="width:100%">
                        <div class="caption">
                            <p><strong> Monitor gamer LG 27GL850 led 27 " negro 100V/240V </strong></p>
                            <p>   $1.899.000 </p>

                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


</body>

