
@{
    ViewBag.Title = "contactenos";
}


<!DOCTYpE html>


<body>


    <script src="~/Content/mensaje.js"></script>
    <link rel="stylesheet" href="~/Content/estilos.css">




    <form>
        <br />
        <br />

        <div class="contactenos form-group ">
            <table >
                <tr>
                    <th>
                        <strong>  FORMULARIO DE CONTACTO </strong>
                    </th>
                </tr>

                <tr>
                    <td>
                        <input type="text" class="form-control" NAME="TEXTO1" SIZE="50 MAXLENGTH="10" ID="TEXTO1" pLACEHOLDER=" ESCRIBA SU NOMBRE Y APELLIDOS">
                    </td>
                </tr>

                <tr>
                    <td>
                        <input TYpE="text" class="form-control" NAME="TEXTO1" SIZE="50 MAXLENGTH="10" ID="TEXTO1" pLACEHOLDER=" CELULAR">
                    </td>
                </tr>

                <tr>
                    <td>
                        <strong> COMENTARIOS </strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <textarea class="form-control" NAME="OPINION" id="opinion" COLS=52 ROWS=5 WRAp="VIRTUAL"> </textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input TYpE="SUBMIT" class="btn btn-primary" NAME="TEXTO2" VALUE="ENVIAR" ">
                    </td>
                </tr>                
            </table>
        </div>
    </form>

    <div class="info">
        <table border="1">
            <tr>
                <th>
                    
                        UBICACIÓN:                                                                
                </th>
                <td>
                    TECNO HARD S.A.S
                    Calle 133b # 23-71                    
                </td>
            </tr>
            <tr>
                <th>
                    Celular/WhatsApp:
                </th>
                <td>
                    311 8565808
                </td>
            </tr>
            <tr>
                <th>
                    Email:
                </th>
                <td>
                    <a href="mailto:JALOVARGON@GMAIL.COM?SUBJECT=CONTACTENOS">E-mail:info@technohard.com</a>
                </td>
            </tr>
        
        <tr>
            <td colspan="2">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.2015649077216!2d-74.09347802329442!3d4.735016342700375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f84efa5c50e67%3A0x64bb6ba4f2c022c9!2sCl.%20133b%2C%20Suba%2C%20Bogot%C3%A1!5e0!3m2!1ses!2sco!4v1623974731746!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </td>
        </tr>
        </table>
</div>
    
    
</body>
