
@{
    ViewBag.Title = "productosMonitores";
}

<script src="~/Content/contactenos.js"></script>

<body>

    <link rel="stylesheet" href="~/Content/estilos.css">




    <div class="row">
        <legend> <p class="TituloPromociones"><strong>    Monitor para PC HP 23.8 pulgadas Full HD</strong> </p> </legend>

        <div class="col-md-4">
            <div class="thumbnail">
                <div class="imagenCentrar">
                    <img src="~/Img/MONITOR1.JPG" alt="Nature" style="width:100%">
                </div>

            </div>
        </div>

        <div aling="center">
            <div class="col-md-8">
                <p class="especificaciones"> Especificaciones. </p>  <br>
                <p class="texto1Promociones"><strong> Para Uso:</strong>        Hogar </p>
                <p class="texto2Promociones"><strong> Tipo de Pantalla:</strong>LED </p>
                <p class="texto3Promociones"><strong> Resolución Pantalla:</strong> FHD. </p>
                <p class="texto4Promociones"> <strong>Precio:</strong>                   $849.000   </p>
                <button onclick="comprar('men')"><i class="fas fa-shopping-cart"></i></button>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>


    <div class="row">
        <legend> <p class="TituloPromociones"><strong>  Monitor Samsung 27" Pulgadas LC27T550FDLXZL Curvo Gris </strong> </p> </legend>

        <div class="col-md-4">
            <div class="thumbnail">
                <div class="imagenCentrar">
                    <img src="~/Img/MONITOR2.JPG" alt="Nature" style="width:100%">
                </div>

            </div>
        </div>

        <div aling="center">
            <div class="col-md-8">
                <p class="especificaciones"> Especificaciones. </p>  <br>
                <p class="texto1Promociones"><strong> Para Uso:</strong>        Oficina o Empresa</p>
                <p class="texto2Promociones"><strong> Tipo de Pantalla:</strong>LED </p>
                <p class="texto3Promociones"><strong> Resolución Pantalla:</strong> FHD. </p>
                <p class="texto4Promociones"> <strong>Precio:</strong>                   $1.159.000   </p>
                <button onclick="comprar('men')"><i class="fas fa-shopping-cart"></i></button>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>

    <div class="row">
        <legend> <p class="TituloPromociones"><strong>   Monitor Samsung 34 Curvo Ultra WQHD Freesync 100 Hz LC34H890 </strong> </p> </legend>
         
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="imagenCentrar">
                    <img src="~/Img/MONITOR3.JPG" alt="Nature" style="width:100%">
                </div>

            </div> 
        </div>

        <div aling="center">
            <div class="col-md-8">
                <p class="especificaciones"> Especificaciones. </p>  <br>
                <p class="texto1Promociones"><strong> Para Uso:</strong>        Hogar, Oficina o Empresa </p>
                <p class="texto2Promociones"><strong> Tipo de Pantalla:</strong>LED </p>
                <p class="texto3Promociones"><strong> Resolución Pantalla:</strong> FHD. </p>
                <p class="texto4Promociones"> <strong>Precio:</strong>                  $2.399.900   </p>
                <button onclick="comprar('men')"><i class="fas fa-shopping-cart"></i></button>

            </div>  
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>




</body>

