
            @{
                ViewBag.Title = "Productos";
            }
                
    
            <script src="~/Content/contactenos.js"></script>


         
            <body>

                <link rel="stylesheet" href="~/Content/estilos.css">




                <div class="row">
                    <legend> <p class="TituloPromociones"><strong id="nameTitleProduct1">IMPRESORA MULTIFUNCIONAL HP INK TANK 315 AIO + CURSO DE COMPUTACIÓN E INGLÉS DISCOVERY </strong> </p> </legend>

                    <div class="col-md-4">
                        <div class="thumbnail">
                            <div class="imagenCentrar">
                                <img src="~/Img/IMPRESORA1.jpg" alt="Nature" style="width:100%">
                            </div>

                        </div>
                    </div>

                    <div aling="center">
                        <div class="col-md-8">
                            <p class="especificaciones"> Especificaciones. </p>  <br>
                            <p class="texto1Promociones"><strong> Tipo de impresion:</strong>        Inyección térmica de tinta.</p>
                            <p class="texto2Promociones"><strong> Tipo de insumo:</strong>           Cartucho </p>
                            <p class="texto3Promociones"><strong> Velocidad impresión:</strong>      Negro hasta 8 ppm y Color hasta 5 ppm. </p>
                            <p class="texto4Promociones"> <strong>Precio:</strong>                   $699.000   </p>
                            <button onclick="comprar(1)" ><i class="fas fa-shopping-cart"></i></button>

                        </div>
                    </div>
                </div>
                <br>
                <br>

                <br>
                <br>


                <div class="row">
                    <legend> <p class="TituloPromociones"><strong id="nameTitleProduct2">  Impresora Multifunción Hp Laserjet Pro M428Fdw 40Ppm Wifi </strong> </p> </legend>

                    <div class="col-md-4">
                        <div class="thumbnail">
                            <div class="imagenCentrar">
                                <img src="~/Img/IMPRESORA2.jpg" alt="Nature" style="width:100%">
                            </div>

                        </div>
                    </div>

                    <div aling="center">
                        <div class="col-md-8">
                            <p class="especificaciones"> Especificaciones. </p>  <br>
                            <p class="texto1Promociones"><strong> Tipo de impresion:</strong>        Laser </p>
                            <p class="texto2Promociones"><strong> Tipo de insumo:</strong>           Cartucho </p>
                            <p class="texto3Promociones"><strong> Velocidad impresión:</strong>      7.5 Pag X Min. </p>
                            <p class="texto4Promociones"> <strong>Precio:</strong>                      $1.999.900   </p>
                            <button onclick="comprar(2)"><i class="fas fa-shopping-cart"></i></button>

                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>

                <div class="row">
                    <legend> <p class="TituloPromociones"><strong id="nameTitleProduct3"> Impresora Multifuncional HP Deskjet Ink Advantage 2375    </strong></p> </legend>

                    <div class="col-md-4">
                        <div class="thumbnail">
                            <div class="imagenCentrar">
                                <img src="~/Img/IMPRESORA3.jpg" alt="Nature" style="width:100%">
                            </div>

                        </div>
                    </div>

                    <div aling="center">
                        <div class="col-md-8">
                            <p class="especificaciones"> Especificaciones. </p>  <br>
                            <p class="texto1Promociones"><strong> Tipo de impresion:</strong>        Injección de tinta </p>
                            <p class="texto2Promociones"><strong> Tipo de insumo:</strong>           Cartucho </p>
                            <p class="texto3Promociones"><strong> Velocidad impresión:</strong>      Hasta 10 paginas X minuto. </p>
                            <p class="texto4Promociones"> <strong>Precio:</strong>                   199.000   </p>
                            <button onclick="comprar(3)"><i class="fas fa-shopping-cart"></i></button>

                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>




            </body>

