
@{
    ViewBag.Title = "productosServidores";
}


<script src="~/Content/contactenos.js"></script>

<body>

    <link rel="stylesheet" href="~/Content/estilos.css">

    <div class="row">
        <legend> <p class="TituloPromociones"><strong>Servidor HPE ProLiant ML110 Gen10 3204 1P 16 GB-R 4 LFF de 4 TB con fuente de alimentación de 550 W </strong> </p> </legend>

        <div class="col-md-4">
            <div class="thumbnail">
                <div class="imagenCentrar">
                    <img src="~/Img/SERV1.jpg" alt="Nature" style="width:100%">
                </div>

            </div>
        </div>  

        <div aling="center">
            <div class="col-md-8">
                <p class="especificaciones"> Especificaciones. </p>  <br>
                <p class="texto1Promociones"><strong> Datos generales:</strong>   HPE ML110 Gen10 3204 1P 16G 4LFF 4TB Svr</p>
                <p class="texto2Promociones"><strong> No soporta:</strong> DVD/ RAID 530-8i / Raid 0, 1, 10, 5, 50 </p>
                <p class="texto3Promociones"><strong> Soporta:</strong>    Soporta 4 discos de 3.5 pulgadas y no requiere upgrade </p>
                <p class="texto4Promociones"> <strong>Precio:</strong>     $4.589.901   </p>
                <button onclick="comprar('men')"><i class="fas fa-shopping-cart"></i></button>

            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>


    <div class="row">
        <legend> <p class="TituloPromociones"><strong>  Servidor en rack Dell PowerEdge R540 </strong> </p> </legend>

        <div class="col-md-4">
            <div class="thumbnail">
                <div class="imagenCentrar">
                    <img src="~/Img/SERV2.jpg" alt="Nature" style="width:100%">
                </div>

            </div>
        </div>

        <div aling="center">
            <div class="col-md-8">
                <p class="especificaciones"> Especificaciones. </p>  <br>
                <p class="texto1Promociones"><strong> Datos generales:</strong> R540 Rack Server, Xeon Silver 4208, 16</p>
                <p class="texto2Promociones"><strong> No soporta:</strong> DVD/ RAI D 530-8i / Raid 0, 1, 10, 5, 50 </p>
                <p class="texto3Promociones"><strong> Soporta:</strong>    Soporta 4 discos de 3.5 pulgadas y no requiere upgrade </p>
                <p class="texto4Promociones"> <strong>Precio:</strong>     $7.835.242 + IVA 19%    </p>
                <button onclick="comprar('men')"><i class="fas fa-shopping-cart"></i></button>

            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>

    <div class="row">
        <legend> <p class="TituloPromociones"><strong>   Servidor Dell T140 Intel Xeon E 2124 Dd 2000Gb Ram Ddr4 16Gb</strong> </p> </legend>

        <div class="col-md-4">
            <div class="thumbnail">
                <div class="imagenCentrar">
                    <img src="~/Img/SERV3.jpg" alt="Nature" style="width:100%">
                </div>

            </div>
        </div>

        <div aling="center">
            <div class="col-md-8">
                <p class="especificaciones"> Especificaciones. </p>  <br>
                <p class="texto1Promociones"><strong> Datos generales:</strong> SERVIDOR DELL T140 INTEL XEON -E 2124 / DD 2000GB / RAM DDR4 16GB (SÓLO CPU NO CONTIENE PANTALLA NI ACCESORIOS)</p>
                <p class="texto2Promociones"><strong> No soporta:</strong> DVD/ RAI D 530-8i / Raid 0, 1, 10, 5, 50 </p>
                <p class="texto3Promociones"><strong> Soporta:</strong>    Soporta 4 discos de 3.5 pulgadas y no requiere upgrade </p>
                <p class="texto4Promociones"> <strong>Precio:</strong>     $ 3.748.900   </p>
                <button onclick="comprar('men')"><i class="fas fa-shopping-cart"></i></button>

            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>




</body>

