
@{
    ViewBag.Title = "promocionImpresoras";
}

<script src="~/Content/contactenos.js"></script>
<body>

    <link rel="stylesheet" href="~/Content/estilos.css">
    <br>
    <br>    
          
    <div class="row">
        <legend> <p class="TituloPromociones"><strong id="nameTitleProduct10">  Impresora Multifuncional EcoTank  </strong> </p> </legend>

        <div class="col-md-4">
            <div class="thumbnail">
                <div class="imagenCentrar">
                    <img src="~/Img/Jimp2.png" alt="Nature" style="width:100%">
                </div>

            </div>
        </div>

        <div aling="center">
            <div class="col-md-8">

                <p class="especificaciones"> Especificaciones. </p>  <br>
                <p class="texto1Promociones"><strong> Tipo de impresion:</strong>        Injección de tinta </p>
                <p class="texto2Promociones"><strong> Tipo de insumo:</strong>           Cartucho </p>
                <p class="texto3Promociones"><strong> Velocidad impresión:</strong>      7.5 Pag X Min. </p>
                <p class="texto4Promociones"> <strong>Antes:</strong>    <strike>$850.000  </strike> </p>
                <p class="texto4Promociones"> <strong>Ahora:</strong>     $650.000   </p>
                <button onclick="comprar(10)"><i class="fas fa-shopping-cart"></i></button>

            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>

    <div class="row">
        <legend> <p class="TituloPromociones"><strong id="nameTitleProduct11">  Impresora Epson WorkForce WF-C579R  </strong> </p> </legend>
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="imagenCentrar">
                    <img src="~/Img/Jimp3.png" alt="Nature" style="width:100%">
                </div>
            </div>
        </div>

        <div class="textoInicial">
            <div class="col-md-8">
                <p class="especificaciones"> Especificaciones. </p>  <br>
                <p class="texto1Promociones"><strong> Tipo de impresion:</strong>        Injección de tinta </p>
                <p class="texto2Promociones"><strong> Tipo de insumo:</strong>           Toner </p>
                <p class="texto3Promociones"><strong> Velocidad impresión:</strong>      12 Pag X Min. </p>
                <p class="texto4Promociones"> <strong>Antes:</strong>  <strike>   $3.900.000  </strike> </p>
                <p class="texto4Promociones"> <strong>Ahora:</strong>     $2.900.000   </p>
                <button onclick="comprar(11)"><i class="fas fa-shopping-cart"></i></button>

            </div>
        </div>

    </div>


    <br>
    <br>
    <br>
    <br>

    <div class="row">
        <legend> <p class="TituloPromociones"><strong id="nameTitleProduct12">  impresora brother t910 Brother  </strong> </p> </legend>

        <div class="col-md-4">
            <div class="thumbnail">

                <div class="imagenCentrar">
                    <img src="~/img/Jimp1.png" alt="Nature" style="width:100%">
                </div>

            </div>
        </div>



        <div class="col-md-8">
            <div aling="center">


                <p class="especificaciones"> Especificaciones. </p>  <br>
                <p class="texto1Promociones"><strong> Tipo de impresion:</strong>        Injección de tinta </p>
                <p class="texto2Promociones"><strong> Tipo de insumo:</strong>           Botellas </p>
                <p class="texto3Promociones"><strong> Velocidad impresión:</strong>      8 Pag X Min. </p>
                <p class="texto4Promociones"> <strong>Antes:</strong> <strike> $1.250.000 </strike>  </p>
                <p class="texto4Promociones"> <strong>Ahora:</strong>     $950.000   </p>
                <button onclick="comprar(12)"><i class="fas fa-shopping-cart"></i></button>
                <br />
                <br />
                <br />
                <br />

            </div>
        </div>
    </div>







</body>




