
@{
    ViewBag.Title = "promocionMonitores";
}

<script src="~/Content/contactenos.js"></script>
<body>

    <link rel="stylesheet" href="~/Content/estilos.css">

   


    <div class="row">
        <legend> <p class="TituloPromociones"><strong>    Monitor LENOVO 21,5" Pulgadas Negro </strong> </p> </legend>

        <div class="col-md-4">
            <div class="thumbnail">
                <div class="imagenCentrar">
                    <img src="~/Img/Jmon1.jpg" alt="Nature" style="width:100%">
                </div>

            </div>
        </div>

        <div aling="center">
            <div class="col-md-8">
                <p class="especificaciones"> Especificaciones. </p>  <br>
                <p class="texto1Promociones"><strong> Para Uso:</strong>        Hogar </p>
                <p class="texto2Promociones"><strong> Tipo de Pantalla:</strong>LED </p>
                <p class="texto3Promociones"><strong> Resolución Pantalla:</strong> FHD. </p>
                <p class="texto4Promociones"> <strong>Antes:</strong> <strike>  $850.000  </strike>  </p>
                <p class="texto4Promociones"> <strong>Ahora:</strong>     $500.000   </p>
                <button onclick="comprar('men')"><i class="fas fa-shopping-cart"></i></button>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>


    <div class="row">
        <legend> <p class="TituloPromociones"><strong>  Monitor gamer Samsung LF22T350FH led 22 " negro 100V/240V </strong> </p> </legend>

        <div class="col-md-4">
            <div class="thumbnail">
                <div class="imagenCentrar">
                    <img src="~/Img/Jmon2.jpg" alt="Nature" style="width:100%">
                </div>

            </div>
        </div>

        <div aling="center">
            <div class="col-md-8">
                <p class="especificaciones"> Especificaciones. </p>  <br>
                <p class="texto1Promociones"><strong> Para Uso:</strong>        Gaming </p>
                <p class="texto2Promociones"><strong> Tipo de Pantalla:</strong>LED </p>
                <p class="texto3Promociones"><strong> Resolución Pantalla:</strong> FHD. </p>
                <p class="texto4Promociones"> <strong>Antes:</strong> <strike>$1.250.000 </strike>  </p>
                <p class="texto4Promociones"> <strong>Ahora:</strong>     $850.000   </p>
                <button onclick="comprar('men')"><i class="fas fa-shopping-cart"></i></button>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>

    <div class="row">
        <legend> <p class="TituloPromociones"><strong>   Monitor gamer LG 27GL850 led 27 " negro 100V/240V </strong> </p> </legend>

        <div class="col-md-4">
            <div class="thumbnail">
                <div class="imagenCentrar">
                    <img src="~/Img/Jmon3.jpg" alt="Nature" style="width:100%">
                </div>

            </div>
        </div>

        <div aling="center">
            <div class="col-md-8">
                <p class="especificaciones"> Especificaciones. </p>  <br>
                <p class="texto1Promociones"><strong> Para Uso:</strong>        Hogar,Oficina o Empresa </p>
                <p class="texto2Promociones"><strong> Tipo de Pantalla:</strong>LED </p>
                <p class="texto3Promociones"><strong> Resolución Pantalla:</strong> FHD. </p>
                <p class="texto4Promociones"> <strong>Antes:</strong>   <strike>     $1.450.000 </strike>  </p>
                <p class="texto4Promociones"> <strong>Ahora:</strong>     $1.000.000   </p>
                <button onclick="comprar('men')"><i class="fas fa-shopping-cart"></i></button>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>




</body>

