
@{
    ViewBag.Title = "promocionServidores";
}

<script src="~/Content/contactenos.js"></script>

<body>

    <link rel="stylesheet" href="~/Content/estilos.css">



    <div class="row">
        <legend> <p class="TituloPromociones"><strong> Servidor Dell T140 Intel Xeon E-2224 16gb 2tb Ppxn2 </strong> </p> </legend>

        <div class="col-md-4">
            <div class="thumbnail">
                <div class="imagenCentrar">
                    <img src="~/Img/Jser1.png" alt="Nature" style="width:100%">
                </div>

            </div>
        </div>

        <div aling="center">
            <div class="col-md-8">
                <p class="especificaciones"> Especificaciones. </p>  <br>
                <p class="texto1Promociones"><strong> Datos generales:</strong>   ThinkSystem SR530, Intel Xeon Bronze 3106 8C 1.7GHz, 16GB, 550W </p>
                <p class="texto2Promociones"><strong> No soporta:</strong> DVD/ RAID 530-8i / Raid 0, 1, 10, 5, 50 </p>
                <p class="texto3Promociones"><strong> Soporta:</strong>    Soporta 4 discos de 3.5 pulgadas y no requiere upgrade </p>
                <p class="texto4Promociones" > <strong>Antes:</strong>  <strike>   $9.850.000 </strike>  </p>
                <p class="texto4Promociones"> <strong>Ahora:</strong>     $7.850.000   </p>
                <button onclick="comprar('men')"><i class="fas fa-shopping-cart"></i></button>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>






    <div class="row">
        <legend> <p class="TituloPromociones"><strong> Servidor Hpe Proliant Dl580 Gen10 8164 256gb 869845-b21 </strong> </p> </legend>

        <div class="col-md-4">
            <div class="thumbnail">
                <div class="imagenCentrar">
                    <img src="~/Img/Jser2.png" alt="Nature" style="width:100%">
                </div>

            </div>
        </div>

        <div aling="center">
            <div class="col-md-8">
                <p class="especificaciones"> Especificaciones. </p>  <br>
                <p class="texto1Promociones"><strong> Datos generales:</strong>   ThinkSystem SR530, Intel Xeon Bronze 3106 8C 1.7GHz, 16GB, 550W </p>
                <p class="texto2Promociones"><strong> Capacidad máxima:</strong> De 192 GB, 5 ranuras PCIe </p>
                <p class="texto3Promociones"><strong> Compatible con:</strong>   Procesador escalable Intel® Xeon®, HPE DDR4 SmartMemory  </p>
                <p class="texto4Promociones"> <strong>Antes:</strong>    <strike> $10.325.000  </strike>  </p>
                <p class="texto4Promociones"> <strong>Ahora:</strong>     $7.500.000   </p>
                <button onclick="comprar('men')"><i class="fas fa-shopping-cart"></i></button>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>




    <div class="row">
        <legend> <p class="TituloPromociones"><strong> Servidor Hpe Proliant Dl360 Gen10 4110 16gb 874457-s01 </strong> </p> </legend>

        <div class="col-md-4">
            <div class="thumbnail">
                <div class="imagenCentrar">
                    <img src="~/Img/Jser3.png" alt="Nature" style="width:100%">
                </div>

            </div>
        </div>

        <div aling="center">
            <div class="col-md-8">
                <p class="especificaciones"> Especificaciones. </p>  <br>
                <p class="texto1Promociones"><strong> Para Uso:</strong>   ThinkSystem SR530, Intel Xeon Bronze 3106 8C 1.7GHz, 16GB, 550W </p>
                <p class="texto2Promociones"><strong> Modelo:</strong> T40 2020 </p>
                <p class="texto3Promociones"><strong> Procesador:</strong>   Intel Xeon  </p>
                <p class="texto4Promociones"> <strong>Antes:</strong>  <strike>   $15.450.000 </strike>  </p>
                <p class="texto4Promociones"> <strong>Ahora:</strong>     $10.500.000   </p>
                <button onclick="comprar('men')"><i class="fas fa-shopping-cart"></i></button>



            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>





</body>

