
    .TituloPromociones {
    color: black;
    font-size: 40px;
    }

    .textoPromociones {
        background: #CBE5E3;
    }

    .row {
        color: black;        
    }


    .imagenCentrar:hover {
        margin: 40px, 10px;
        padding: 15px;
        border: 3px solid;
        color: black;
    }


    .especificaciones {
        color: #38A0B2;
        font-size: 50px;|
    }

    .texto1Promociones {
        background: #F2F2F2;
        font-size: 20px;
        color: black;
    }

    .texto2Promociones {
        font-size: 20px;
        color:black;
    }

    .texto3Promociones {
        background: #F2F2F2;
        font-size: 20px;
        color: black;
    }

    .texto4Promociones {
    font-size: 35px;
    color: black;   
    }

    .contactenos{
        padding-left:650px;
        margin-bottom:100px;
    }

    .info {
        padding-left: 500px;
        margin-bottom: 100px;
        
    }

    table {
        border: 1px solid;
        border-collapse: separate;
        border-spacing: 15px 10px;
    
    }


    button {
        height: 40px;
        width: 40px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px; 
        
    }